/*actual footer element*/
footer {
    background-color: #2f2626;
    position: relative;
    align-items: center;
    box-shadow: 0px -2px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    bottom: 0;
}
/*main container of footer*/
.footer-content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: top;
    justify-content: space-between;
    width:95%;
    height:fit-content;
    margin: 0 auto;
}
/*left part of footer content*/
.footer-left {
    justify-content: space-around;
    width:65%;
    display:flex;
    align-items:top;
}
/*containers separating the footer link of different caregories*/
.footer-desc {
    margin:0 0 15px 0;
}
/*title of footer-desc*/
.footer-header {
    text-align: left;
    font-size: 25px;
    margin:15px 0;
    color:white;
}
/*links and socials of footer links*/
.footer-link, .footer-social {
    display:block;
    text-decoration: none;
    margin:3px 0;
    color:white;
    transition:0.3s;
}
/*icons used in social links*/
.footer-social i{
    font-size:16px;
    padding:1px 0;
    transition: 0.3s;
}
/*hover effect on footer links*/
.footer-link:hover {
    text-decoration: underline;
}
/*hover effect on footer socials*/
.footer-social:hover i {
    border-radius:5px;
    background-color: grey;
}
/*right side of the main content*/
.footer-right {
    border-left:1px solid grey;
    width:30%;
    display:block;
    align-items:top;
}
/*feedback form element*/
.footer-right form {
    margin:0 0 20px 40px;
    padding: 10px;
    background-color: white;
    width:fit-content;
    display:block;
    justify-content: center;
    align-items: center;
    height:fit-content;
    border-radius: 10px;
    border:1px solid black;
}
/*title of form*/
.form-header {
    padding:0;
    margin:5px;
}
/*input boxes of form*/
.feedback-input {
    display:inline-block;
    height:30px;
    width:45%;
    border-radius: 5px;
    border:1px solid black;
}
/*submit button of form*/
.submit-form {
    margin:15px auto 0 auto;
    display:flex;
    padding:15px 30%;
    font-size: 20px;
    border-radius: 15px;
    cursor:pointer;
    transition: .4s;
}
/*hover effect on submit button*/
.submit-form:hover {
    background-color: #696969;
}